@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
}

@layer components {
  .section {
    @apply m-6 sm:mx-12 sm:my-32 p-6 sm:p-12 xl:p-20 rounded-xl;
  }
  .section-title {
    @apply uppercase text-lg text-gray-700;
  }
  .section-heading {
    @apply text-6xl font-extrabold font-russo;
  }
}
