@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/russo/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter/Inter-Medium.ttf") format("truetype");
}

@layer components {
  /* Misc */
  .apply-button {
    @apply inline-block relative z-10 rounded-md bg-white border-yellow-2 border-2 leading-9 tracking-wider uppercase font-russo py-3 px-4;
    box-shadow: 4px 4px 0px #f2c94c;
    font-size: 22px;
  }
  .apply-button:hover {
    background-color: #e5bb3b;
  }

  /* Navigation */
  #nav {
    @apply fixed z-30 top-2 p-6 flex flex-col lg:flex-row lg:justify-between lg:items-center;
    @apply inset-x-4 md:inset-x-6;
    min-height: 72px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s ease;
  }
  #nav-indicator {
    @apply hidden lg:block absolute bg-blue-3 h-1 w-6;
    border-radius: 4px;
    top: 58px;
    left: 39.5px;
    transition: left 1s ease;
  }
  #nav-button {
    @apply block lg:hidden outline-none;
  }
  .nav-with-bg {
    background-color: rgba(255, 255, 255, 0.75) !important;
  }
  .nav-open {
    @apply shadow-lg;
    background-color: rgba(255, 255, 255, 0.95) !important;
  }
  .nav-open .nav-item {
    @apply flex !important;
  }
  .nav-item {
    @apply uppercase my-2 flex-row justify-center;
    @apply hidden;
    @apply lg:flex;
  }
  .nav-icon {
    @apply h-5;
  }
  .nav-icon:not(:last-child) {
    @apply mr-4;
  }
  .nav-icon img {
    @apply h-full;
  }
  .nav-logo {
    @apply h-6 mx-2;
  }
  .nav-logo img {
    @apply h-full;
  }
  .nav-head {
    @apply flex flex-row justify-between order-first lg:order-none;
  }

  /* Generic section */
  .section {
    @apply rounded-xl;
    @apply mx-4 my-8 md:mx-12 md:my-24;
    @apply px-6 py-12 sm:py-28 md:px-12 lg:px-28;
  }
  .section-title {
    @apply uppercase text-lg;
  }
  .section-heading {
    @apply font-russo;
    @apply text-3xl md:text-5xl lg:text-6xl;
  }

  /* Start section */
  .start {
    @apply mt-24;
  }

  .category {
    @apply max-w-xl flex flex-col items-start mt-12 lg:mt-24 relative;
  }
  .category-title {
    @apply flex rounded-md bg-white py-1 px-4 items-center shadow;
  }
  .category-title div {
    @apply bg-blue w-1 h-5 inline-block mr-2;
  }
  .category-title h4 {
    @apply font-russo text-lg;
  }
  .category h5 {
    @apply text-sm mt-1 font-bold;
  }
  .category p {
    @apply text-sm mt-3;
  }
  .category ul {
    @apply text-sm mt-3 space-y-2;
  }
  .category ul li {
    @apply flex items-center;
  }
  .category ul li div {
    @apply bg-blue w-1 h-1 rounded-md inline-block mr-1.5;
  }

  /* Events section */
  /* Tech talks */
  .tech-talk-subsection {
    @apply mb-20;
  }
  .tech-talk {
    @apply flex-auto mb-20;
  }
  .tech-talk:last-child {
    @apply mb-0;
  }
  .tech-talk-date {
    @apply text-gray-3;
  }
  .tech-talk-description {
    @apply flex flex-row mt-2 mb-2 items-center;
  }
  .tech-talk-description img {
    @apply rounded-lg relative -left-2;
  }
  .tech-talk-description div {
    @apply flex flex-col relative -top-1;
  }
  .tech-talk-description div h4 {
    @apply font-bold text-xl;
  }
  .tech-talk-description div h5 {
    @apply text-lg;
  }
  /* Mini events */
  .mini-event-subsection {
    @apply lg:grid lg:grid-cols-2 lg:gap-y-16 lg:gap-x-12;
  }
  .mini-event {
    @apply flex-auto mb-20 lg:mb-0;
  }
  .mini-event:last-child {
    @apply mb-0;
  }
  .mini-event-description {
    @apply flex flex-row mt-2 mb-2 items-center;
  }
  .mini-event-description img {
    @apply rounded-lg relative -left-2;
  }
  .mini-event-description div {
    @apply flex flex-col relative -top-1;
  }
  .mini-event-description div span {
    @apply text-gray-3;
  }
  .mini-event-description div h4 {
    @apply font-bold text-xl;
  }

  /* Fancy FAQ accordions with +/- buttons */
  summary {
    list-style: none;
    @apply flex items-center cursor-pointer;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary::after {
    content: "+";
    @apply ml-auto text-4xl text-blue-3;
  }
  details[open] summary::after {
    content: "-";
    @apply ml-auto text-4xl text-blue-3;
  }

  /* FAQ accordion item styles */
  .accordion-item {
    @apply pb-6 mb-6 border-b-2 border-blue-2;
  }
  .accordion-item:last-child {
    @apply mb-5;
  }
  .accordion-item h4 {
    @apply text-xl font-bold;
  }
  details[open] summary {
    @apply mb-4;
  }
  /* TODO: Check if we can just use this for the entire website */
  .accordion-item .accordion-content ul {
    list-style: none;
  }
  .accordion-item .accordion-content ul li {
    @apply font-bold;
  }
  .accordion-item .accordion-content ul li::before {
    content: "\2022"; /* \2022 is unicode for a bullet */
    display: inline-block;
    width: 1em;
    @apply font-bold text-blue-3;
  }

  .schedule {
    @apply flex flex-col items-start;
  }

  .schedule-title {
    @apply rounded-md bg-white pt-1 pb-2 px-4 items-center shadow mb-5;
  }

  .schedule-title h4 {
    @apply font-russo text-lg -mb-0.5;
  }

  .schedule-title div {
    @apply bg-blue w-full h-0.5;
  }

  .schedule article {
    @apply flex text-gray-2;
  }

  .schedule h5 {
    @apply mr-6;
  }

  .schedule article {
    @apply flex text-gray-2 max-w-sm;
  }

  .schedule article .axis {
    @apply flex flex-col items-center;
  }

  .schedule article .axis div:nth-child(1) {
    @apply bg-blue w-0.5 h-3;
  }

  .schedule article:nth-of-type(1) .axis div:nth-child(1) {
    @apply invisible;
  }

  .schedule article .axis div:nth-child(2) {
    @apply bg-blue w-2 h-2 -my-1 rounded-lg;
  }

  .schedule article .axis div:nth-child(3) {
    @apply bg-blue w-0.5 h-full;
  }

  .schedule article:last-of-type .axis div:nth-child(3) {
    @apply invisible;
  }

  .schedule article .info {
    @apply px-4 mb-4;
  }

  .schedule article h4 {
    @apply font-bold text-gray-1;
  }

  .schedule article p {
    @apply text-sm my-2;
  }

  .sponsors div {
    @apply w-20 h-20 sm:w-28 md:w-20 md:h-20 sm:h-28 lg:w-36 lg:h-36 rounded-xl p-4 flex items-center;
  }

  .sponsors div:last-child {
    @apply hidden md:block;
  }

  /* Kicker section */
  .kicker {
    @apply mb-0;
    @apply -mt-8 md:-mt-24;
  }

  /* Footer */
  .footer {
    @apply bg-purple-1 px-12 py-3 flex flex-col lg:flex-row items-center justify-between;
  }
  .footer-brand {
    @apply uppercase font-extrabold text-lg my-3;
  }
  .footer-legal {
    @apply uppercase text-center text-xl text-gray-1 my-3 order-last lg:order-none space-x-4;
  }
  .footer-icons {
    @apply flex flex-row items-center my-3 space-x-6;
  }
}
